save-exact = true
tag-version-prefix=""
strict-peer-dependencies = false
lockfile = true
package-lock = true
engine-strict = true
auto-install-peers=false
public-hoist-pattern[]='*prisma*'
public-hoist-pattern[]='*@prisma*'
